<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.osaid.taskmaster">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Taskmaster">
        <activity
            android:name=".SignUpConfirmation"
            android:exported="false"
            android:label="Verify Your Email"/>
        <activity
            android:name=".SignUp"
            android:exported="false"
            android:label="Sign Up"/>
        <activity
            android:name=".Settings"
            android:exported="false"
            android:label="@string/settings"
            android:launchMode="singleTop"
            android:parentActivityName=".Home" />
        <activity
            android:name=".TaskDetails"
            android:exported="false"
            android:label="Task Details"
            android:parentActivityName=".AllTasks" />
        <activity
            android:name=".AllTasks"
            android:exported="false"
            android:label="All Tasks"
            android:launchMode="singleTop"
            android:parentActivityName=".Home" />
        <activity
            android:name=".AddTask"
            android:exported="false"
            android:label="@string/add_task"
            android:launchMode="singleTop"
            android:parentActivityName=".Home" />
        <activity
            android:name=".Home"
            android:exported="false"
            android:label="Task Master"
            android:launchMode="singleTop"
            android:value=".MainActivity">

        </activity>
        <activity
            android:name=".LogIn"
            android:exported="true"
            android:label="TaskMaster">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".Home" />
    </application>

</manifest>