<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.osaid.taskmaster">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/Theme.Taskmaster">

        <activity
            android:name=".Settings"
            android:exported="false"
            android:label="@string/settings"
            android:parentActivityName=".Home" />
        <activity
            android:name=".TaskDetails"
            android:exported="false"
            android:label="Task Details"
            android:parentActivityName=".AllTasks" />
        <activity
            android:name=".AllTasks"
            android:exported="false"
            android:label="All Tasks"
            android:parentActivityName=".Home" />
        <activity
            android:name=".AddTask"
            android:exported="false"
            android:label="@string/add_task"

            android:parentActivityName=".Home" />
        <activity
            android:name=".Home"
            android:exported="true"
            android:label="Task Master"

            android:value=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".Home" />
    </application>

</manifest>